@import './variables';

// Card
.mat-card {
  background: white;
  border-radius: $border-radius-standard;
  box-shadow: $box-shadow-standard;

  &-light {
    background: white;
    border-radius: $border-radius-light;
    box-shadow: $box-shadow-light;
  }
}
