@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './_variables';

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
}

.tb-frame {
  background: white;
  border: 1px solid #ccc;
  border-radius: $border-radius-standard;
  min-height: 20px;
  padding: 15px;
  position: relative;

  &.focused {
    border: 1px solid $primary-color-dark;
  }

  &.builder {
    outline: none;
    border: 1px dashed #BBB;
    border-top: none;
  }

  &-placeholder {
    border-radius: 15px;
    color: $secondary-text-color;
    margin: 0 -3px;
    padding: 0 3px;
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    transition: top $standard-transition-t-e, font-size $standard-transition-t-e;
    user-select: none;

    &.raised {
      .tb-frame-placeholder-bg {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        background: white;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
      top: 0;
      font-size: 0.8em;
    }
    &.focused {
      color: $primary-color-dark;
    }
  }
}

// Card
.tb-card {
  background: white;
  border-radius: $border-radius-standard;
  box-shadow: $box-shadow-standard;

  &-light {
    background: white;
    border-radius: $border-radius-light;
    box-shadow: $box-shadow-light;
  }
}

.tb-padding-standard {
  padding: $padding-standard;
}

.tb-flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tb-absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Transitions && Animations
.tb-fade-enter-active, .tb-fade-leave-active {
  transition: opacity .3s;
}
.tb-fade-enter, .tb-fade-leave-to {
  opacity: 0;
}
